body{
    margin: 0;
    padding: 0;
    color: #fff;
}
.container{
    display: grid;
}
.container div:nth-child(even){
    background-color: #1E1E1E;
}
.container div:nth-child(odd){
    background-color: #0477BD;
}